*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: #1d1d32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1{
  color: #1d1d32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.app-todo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.todo-list-container{
  width: 600px;
  min-height: 500px;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  background-color: #d0d0d5;
  border-radius: 20px;
}